body > .container {
	margin-top: 20px;
	width: 100%;
}
table.with-floating-header thead tr {
	background-color: #fff;
}
#conversation-form {
	max-width: 1220px;
}
#conversation-form .input-row {
	margin: 10px 0;
}
#conversation-form label input {
	display: none;
}
#conversation-list {
	max-height: 250px;
	overflow-y: scroll;
}
	#conversation-list table td {
		border-top: none;
	}
textarea.form-control {
	resize: vertical;
}
td .btn.btn-link {
	padding: 0;
}
tr.color-1 {
	background-color: #808080;
}
tr.color-2 {
	background-color: #808080;
}
tr.color-3 {
	background-color: #fd0000;
}
tr.color-4 {
	background-color: #c3d8f0;
}
tr.color-5 {
	background-color: #fff;
}
tr.color-6 {
	background-color: #feff99;
}
tr.color-7 {
	background-color: #94cc5c;
}
tr.color-8 {
	background-color: #02ae4f;
}
tr.color-9 {
	background-color: #00b2f0;
}
